:root{
    --night: hsl(0, 0%, 8%);
    --medium-sea-green: hsl(153, 71%, 59%);
    --black: hsl(0, 0%, 14%);
    --gains-boro: hsl(0, 0%, 85%);
    --white: hsl(0, 0%, 100%);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

body{
    background-color: var(--night);
    font-family: 'Space Grotesk', sans-serif;
}

/* Navbar Style */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.logo{
    position: relative;
    left: 6.6rem;
}

.anchor {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1.5rem;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 4rem;
}

.nav-icons {
    cursor: pointer;
    margin: 0 1rem;
}

.nav-icons:hover {
    fill: var(--medium-sea-green);
}

/* Hero Section Style */
.row{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.row h1{
    font-size: 5.5rem;
    color: var(--white);
    position: relative;
    left: 6rem;
}

h1::after{
    content: "";
    border-bottom: 3px solid var(--medium-sea-green);
}

.row p{
    font-size: 1.125rem;
    color: var(--white);
    position: relative;
    left: 6rem;
    width: 27.813rem;
}

.hero {
    width: 100%;
    max-width: 100%;
}

.pattern-rings-1 {
    position: relative;
    right: 4rem;
    top: 5.5rem;
}

.btn-contact {
    color: var(--white);
    border-bottom: 3px solid var(--medium-sea-green);
    position: relative;
    text-decoration: none;
    left: 5.9rem;
    top: 1.5rem;
}

.btn-contact:hover{
    color: var(--medium-sea-green);
}


.hero-img {
    /* width: 27.813rem; */
    max-width: 100%;
    position: relative;
    right: 4rem;
    top: -3.6rem;
    z-index: -3;
}

.pattern-circle {
    position: relative;
    top: -16.6rem;
    right: 8rem;
    z-index: -3;
}

.line{
   width: 69.375rem;
   height: 1px;
   background-color: var(--white);
   margin: 0 auto;
}

/* Skills Section Style */
.skills {
    max-width: 100%;
    padding: 2rem 6rem;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.grid-item h3 {
    font-size: 3rem;
    color: var(--white);
}

.grid-item p {
    font-size: 1.125rem;
    color: var(--white);
}

/* Projects Section Style */
.projects {
    max-width: 100%;
    padding: 8rem 6rem;
}

.projects h2{
    font-size: 3rem;
    color: var(--white);
}

.grid-row-projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.box{
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.box:hover .box-content{
    opacity: 0.9;
}

.box-content {
    background: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    opacity: 0;
    left: 0;
    bottom: 0%;
    height: 100%;
    width: 100%;
    padding: 36px;
    color: var(--white);
    z-index: 5;
    transition: all 0.3s ease-in-out 0.1s;
}

.project-info a:hover, .box-content a:hover{
    color: var(--medium-sea-green);
}

.box-content a {
    color: var(--white);
    text-align: center;
    padding: 1rem 0;
    text-decoration-color: var(--medium-sea-green);
    text-decoration: 2px solid var(--medium-sea-green) underline;
    text-underline-offset: 0.5rem;
}

.row-item, h3 {
    color: var(--white);
}

.row-item, p {
    color: var(--gains-boro);
}

/* .project-img {

} */

.project-info{
    margin-top: 1.5rem;
}

.project-info a{
    color: var(--white);
    border-bottom: 3px solid var(--medium-sea-green);
    text-decoration: none;
}

/* .contact {

} */

.form-controls {
    padding: 1rem 0;
}

.error-message{
    position: relative;
    left: 18rem;
}

.text-type {
    background: none;
    border: none;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    caret-color: var(--white);
    outline: none;
    width: 27.813rem;
}

.text-type[type="text"], 
.text-type[type="email"],  
.text-type[type="message"]{
    padding: 1rem 1rem;
    color: var(--night);
    font-size: 1rem;
}

.text-type:focus{
    color: var(--white);
    border-bottom: 1px solid var(--medium-sea-green);
}

.btn-message {
    background: none;
    border: none;
    outline: none;
    border-bottom: 3px solid var(--medium-sea-green);
    color: var(--white);
    cursor: pointer;
    position: relative;
    left: 20rem;
}

.btn-message:hover {
    color: var(--medium-sea-green);
}

footer {
    background-color: var(--black);
    padding: 5rem 1rem;
}

.pattern-rings-2 {
    position: relative;
    right: 23rem;
    top: 1.5rem;
}

footer .footer-contact-title{
    color: var(--white);
    font-size: 3rem;
    margin-bottom: 0.8rem;
}

.nav-footer-row{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
}

p.footer-contact-text{
    left: 0;
}

/* Media Queries */
@media (max-width: 1024px) {
    .nav-bar {
        justify-content: space-around;
    }

    .row h1{
        font-size: 4.5rem;
        width: 31.688rem;
    }

    .line{
        width: 44.125rem;
    }

    .grid-row{
        grid-template-columns: repeat(2, 1fr);
    }

    .projects {
        padding: 2rem;
    }

    footer .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   footer .footer-contact-title{
        font-size: 4.5rem;
        text-align: center;
    }

    footer .footer-contact-text{
        text-align: center;
    }
}


@media(max-width: 600px) {
    .logo{
        left: 1.5rem;
    }

    .social-links{
        right: 0;
    }

    .pattern-rings-1{
        position: relative;
        right: 9rem;
        top: -39rem;
    }

    .nav-bar{
        justify-content: space-between;
        flex-direction: column;
    }

    .hero-img{
        top: 0;
        right: 0;
        left: 0;        
    }

    .row{
       flex-direction: column-reverse;
       align-items: center;
       justify-content: center;
    }

    .row h1{
        font-size: 2.5rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 21.438rem;
        left: 0;
        top: -12rem;
    }

    .row p{
        text-align: center;
        width: 21.438rem;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        top: -12rem;
    }

    .line{
        width: 21.438rem;
    }

    /* .projects{
        padding: 0;
    } */

    .grid-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-row-projects {
        grid-template-columns: repeat(1, 1fr);
    }

    footer .row, h2{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    /* .nav-footer-row{
        flex-direction: column;
    } */

    .footer-contact-text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        top: 12rem;
    }

    .text-type{
        width: 21.438rem;
    }

    .btn-message{
        left: 7rem;
    }    

    .error-message{
        left: 5rem;
        top: 0.5rem;
    }
    footer{
        height: 100%;
    }
}
